<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% load staticfiles %}
  {% include "header.html" %}
  <!-- jQuery 2.2.3 -->
  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js'%}"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  {% include "navigation.html" %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class='content' id='section-content'>
        {% block content %}
        {% endblock %}
    </section>

  </div>
  <!-- /.content-wrapper -->
  {% include "footer.html" %}

  {% include "options.html" %}

</div>
<!-- ./wrapper -->

<!-- env modal -->
<div class="modal fade bs-example-modal-lg" id="addEnv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModel'>
            </div>
        </div>
    </div>
</div>


<!-- jQuery UI 1.11.4 -->
<!-- <script src="{% static 'dist/js/jquery-ui.min.js' %}"></script> -->
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<!-- <script>
  $.widget.bridge('uibutton', $.ui.button);
</script> -->

<!-- Bootstrap 3.3.6 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>

<!-- Morris.js charts -->
<!-- <script src="{% static 'dist/js/raphael-min.js' %}"></script>
<script src="{% static 'plugins/morris/morris.min.js'%}"></script> -->

<!-- Sparkline -->
<!-- <script src="{% static 'plugins/sparkline/jquery.sparkline.min.js'%}"></script> -->

<!-- jvectormap 矢量地图-->
<!-- <script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'%}"></script>
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js'%}"></script> -->

<!-- jQuery Knob Chart 旋钮图-->
<!-- <script src="{% static 'plugins/knob/jquery.knob.js'%}"></script> -->
<!-- daterangepicker -->
<script src="{% static 'dist/js/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js'%}"></script>
<!-- datepicker -->
<script src="{% static 'plugins/datepicker/bootstrap-datepicker.js'%}"></script>
<!-- Bootstrap WYSIHTML5 富文本编辑器-->
<!-- <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'%}"></script> -->

<!-- Slimscroll 滚动条-->
<!-- <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js'%}"></script> -->

<!-- FastClick 移动端 是否双击 -->
<!-- <script src="{% static 'plugins/fastclick/fastclick.js'%}"></script> -->

<!-- AdminLTE App -->
<script src="{% static 'dist/js/app.min.js'%}"></script>
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>

<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js'%}"></script>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    $('.treeview').find('a').each(function () {
        if (this.href == document.location.href || document.location.href.search(this.href) >= 0) {
            $(this).parent().addClass('active');
        }
    });

    function checkList(){
        var checkID = []
        $('tr.selected').each(function(){
            var thisID = $(this).find('td').eq(1).html()
            checkID.push(thisID)
        })
        return checkID
    }

    var user = '{{request.user|safe}}'
    console.log(user)
    // $('.pageJump').click(function(){
    //     var urlmap = {
    //             'ajax':'/autoAPI/reportSearch',
    //             'ceshijieguo':'/autoAPI/reportSearch'
    //     }
    //
    //     url = urlmap[$(this)[0].id]
    //     console.log(url)
    //     $.get(url, function(ret){
    //         $('#section-content').html(ret)
    //     })
    // })
</script>
</body>
</html>
