{% extends "apiIndex.html" %}
{% block content %}

<div class="box box-danger">
    <div class="box-header with-border">
      <h3 class='box-title'><i class='fa fa-search'></i> 用例查询</h3>
    </div>
    <div class="box-body">
        <form id="my_form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="caseId">用例ID</label>
                        <input type="text" class="form-control input-sm" id="caseId" placeholder="想要模糊匹配多个，请以+隔开，比如 1+2 表示所有id包含1或2的">
                    </div>
                    <div class="form-group">
                        <label for="caseName">用例名称</label>
                        <input type="text" class="form-control input-sm" id="caseName" placeholder="想要模糊匹配多个，请以+隔开">
                    </div>
                    <div class="form-group">
                        <label for="note">备注</label>
                        <input type="text" class="form-control input-sm" id="note" placeholder="想要模糊匹配多个，请以+隔开，比如 成功+通过">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="note">品类</label>
                        <select multiple class="form-control input-sm" id="ci" placeholder="品类">
                            {% for x in categorys %}
                            <option value='{{x.id}}'>{{ x.cname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- <div class="form-group">
                        <label for="memGroup">小组</label>
                        <select multiple class="form-control input-sm" id="memGroup" placeholder="小组">
                            {% for x in memGroup %}
                            <option value='{{x.id}}'>{{ x.groupName }}</option>
                            {% endfor %}
                        </select>
                    </div> -->
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="owner">所属人</label>
                        <select multiple class="form-control input-sm" id="owner" placeholder="所属人">
                            {% for x in user_list %}
                            <option value='{{x.id}}'>{{ x.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-primary" id="Search"><span class="glyphicon glyphicon-search"></span> Search</a>
                <button type="button" class="btn btn-default" id="Reset"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
            </div>
            <!-- <p class="text-block text-primary">Ctrl + 鼠标点击可以 多选/取消选中; 什么都不选搜全部用例</p> -->
        </form>
        <br>
        <!-- 结果列表 -->
        <div id="my_table"></div>
    </div>
</div>

<script>

    $(document).ready(function(){
      $("#Search").click(function(){
        if ($("#caseId").val()){caseId = $("#caseId").val().split("+");}else{caseId = null};
        if ($("#caseName").val()){caseName = $("#caseName").val().split("+");}else{caseName = null};
        if ($("#ci").val()){ci = $("#ci").val();}else{ci = null};
        // if ($("#plantform").val()){plantform = $("#plantform").val();}else{plantform = null};
        // if ($("#version").val()){version = $("#version").val();}else{version = null};
        if ($("#owner").val()){owner = $("#owner").val();}else{owner = null};
        if ($("#note").val()){note = $("#note").val().split("+");}else{note = null};
        // if ($("#memGroup").val()){memGroup = $("#memGroup").val();}else{memGroup = null};

        $.post("{% url 'caseSearch' %}",
            {'caseId':caseId,'caseName':caseName,'ci':ci,'note':note,
            // 'plantform':plantform,'version':version,
            'owner':owner,
            // 'note':note,'memGroup':memGroup
            }, function(ret){
            $("#my_table").html(ret)
        })
      });
    });

    $(document).ready(function(){
      $("#Reset").click(function(){
          $('#my_form')[0].reset()
      });
    });

</script>
{% endblock %}
