<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">新增公共参数</h4>
</div>
<form class="form" action="/autoAPI/envAdd" method="post">
    {% csrf_token %}
    <div class="modal-body">
      {{ aEForm }}
      {% if errors %}
      <p class='text-danger'>{{ errors }}</p>
      {% endif %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>
