{% extends "apiIndex.html" %}
{% block content %}

    <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class='box-title'>小组管理</h3>
        </div>
        <div class="box-body">
            <div class="btn-group btn-group-sm">
                <a href='/autoAPI/memGroupEdit' type='button' class='btn btn-primary'><span class="glyphicon glyphicon-plus"></span> 新增小组</a>
            </div>
        </div>

        <table id="tableList" class='table table-condensed' data-toggle="table" data-striped="true" data-show-columns="true" data-row-style="rowStyle" style="word-break:break-all;"  data-click-to-select="true" data-query-params="queryParams" data-search="true" data-show-export="true" data-response-handler="responseHandler">
			<thead>
				<tr>
					<th data-field="小组名称" data-sortable="true" class="col-xs-2">
						小组名称
					</th>
					<th data-field="成员数量" data-sortable="true" class="col-xs-1">
						成员数量
					</th>
                    <th data-field="修改时间" data-sortable="true" class="col-xs-1">
						修改时间
					</th>
                    <th data-field="操作" data-sortable="true" class="col-xs-1">
						操作
					</th>
				</tr>
			</thead>
			<tbody>
			{% for x in memGroup %}
				<tr>
    				<td>{{x.name}}</td>
                    <td>{{x.count}}</td>
    				<td>{{ x.modify_time|date:"Y-m-d H:i:s" }}</td>
    				<td><a type='button' class="btn btn-sm btn-default" href="/autoAPI/memGroupEdit?groupID={{x.id}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 编辑</a>
                    </td>
                </tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% include "baseTable.html" %}
{% endblock content %}
