{% load staticfiles %}
<link rel="stylesheet" href="{% static 'dist/css/jsonFormat.css'%}">
<div class="box box-solid">
    <div class="box-body">
      <dl class="dl-horizontal">
          <dt>耗时</dt>
          <dd>{{costTime}} ms</dd>
        <dt>HTTP响应码</dt>
        <dd>{{r.status_code}}</dd>
        <dt>HTTP响应头</dt>
        <dd><div id='showH{{timeStamp}}'></div></dd>
        <dt>响应结果</dt>
        {% if resultType == "json" %}
        <dd><div id='showR{{timeStamp}}'></div></dd>
        {% else %}
        <dd><pre style='word-break:break-all;word-wrap:break-word;'>{{showR}}</pre></dd>
        {% endif %}
      </dl>
    </div>
    <div class="col-md-12 alert alert-danger" id="error-span" style="display: none;"></div>
</div>
<script src="{% static 'dist/js/jsonFormat.js'%}"></script>

<script>
    var hea = {{ showH |safe }}     //json
        res = {{ showR |safe }}     //json
        timeStamp = {{ timeStamp|safe }}
        heaID = '#showH' + timeStamp
        resID = '#showR' + timeStamp
        errID = '#error-span' + timeStamp
        resultType = '{{resultType|safe}}'
    if(resultType=='json'){
        format(res, resID, errID)
        setTimeout(format(res, resID, errID), 1000);
    }
    format(hea, heaID, errID)
    
    setTimeout(format(hea, heaID, errID), 1000);
</script>
